
<form id="editForm" class="form-horizontal" method=post action="/admin/news/{{news._id}}">
  <div class="btn-group">
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn" href="/admin/news/{{news._id}}/edit">Отменить</a>
  </div>

  <h1>Редактирование новости: "{{news.name}}"</h1>

  <input type="hidden" name="_method" value="put" />

  <input type="hidden" name="_id" value="{{news._id}}">
  <input type="hidden" name="date" value="{{news.dateISO}}">

  <label class="control-label1">
    Заголовок:
  </label>
  <input type="text" name="name" class="input-xxlarge" value="{{news.name}}">

  <br>
  <br>

  <textarea id="text" name="content" placeholder="Введите текст ...">{{news.content}}</textarea>

  <label class="checkbox">
    <input type="hidden" name="active" value="false">
    <input type="checkbox" name="active" value="true" {{#news.active}}checked{{/news.active}}>
    Показывать новость
  </label>


</form>