<h1>Оплата</h1>
<div class="media">
	<a class="pull-left" href="#">
          <img class="media-object  img-polaroid" data-src="holder.js/64x64" alt="64x64" style="width: auto; height: auto;" src="/img/avatar.jpg">
      </a>
	<div class="media-body">
		<!-- <h4 class="media-heading">
	Медиа-заголовок
</h4>
          -->
		<p>
			Чайники из исинской глины – это глубочайшая тема. Она намного глубже,
			чем может показаться на первый взгляд. Возможно, непосвященный пользователь
			улыбнется этому. Но на самом деле в производстве исинских чайников в Китае
			заняты миллионы людей. Я не оговорился. Тут это и ремесло, и древняя традиция,
			и вид искусства одновременно.
		</p>
	</div>
</div>