<h1>В процессе оплаты возникли ошибки!</h1>

<div class="media">
  <a class="pull-left" href="/about/">
    <img class="media-object  img-polaroid" data-src="holder.js/64x64" alt="64x64" style="width: auto; height: auto;" src="/img/avatar.jpg">
  </a>
  <div class="media-body">
<p>
  Платежная система PaySto сообщила нам, что в процессе оплаты возникли ошибки.
</p>

<p>Заказ автоматически отменен, но ваша корзина в целости и сохранности, и ваши почтовые данные никуда не исчезли.
Повторите создание заказа и оплату. Возможно лучше будет выбрать другой способ оплаты.</p>

<p>Можете так же связаться со мной по телефону +7 (905) 62-789-64. Оформим заказ по телефону - это не сложно!</p>

<br>
<p>С уважением, Анастасия Заяц<p>

  </div>
</div>
