<h1>Перенаправление</h1>
<form id="paysto" name="pay" id="paysto" method="post" action="https://paysto.com/ru/pay">

    <input type=hidden name="PAYSTO_SHOP_ID" value="{{paysto.PAYSTO_SHOP_ID}}">

    <input type=hidden name="PAYSTO_SUM" value="{{paysto.PAYSTO_SUM}}">

    <input type=hidden name="PAYSTO_INVOICE_ID" value="{{paysto.PAYSTO_INVOICE_ID}}">

    <input type=hidden name="PAYSTO_DESC" value="{{paysto.PAYSTO_DESC}}">

    <input type=hidden name="PayerEMail" value="{{paysto.PayerEMail}}">

</form>

