<h2>Заказ успешно сформирован</h2>

<div class="media">
  <a class="pull-left" href="/about/">
    <img alt="Обо мне" class="media-object  img-polaroid" data-src="holder.js/64x64" alt="64x64" style="width: auto; height: auto;" src="https://lh5.googleusercontent.com/-BeWOn6iK7CI/UdfF_qVXt_I/AAAAAAAAB_w/s3pvIrhk4GI/s64/avatar.jpg">
  </a>
  <div class="media-body">
    <p>Ваш заказ сформирован. На вашу электронную почту выслано письмо с подробной информацией о заказе и инструкцией по оплате.</p>
    <p>
      Вам нужно пойти в ближайшее отделение Сбербанка. Возьмите с собой деньги и данные карты, больше ничего не потребуется.
      Номер моей карты:  <b>{{sberbank.cart}}</b> (годна до <b>{{sberbank.date}}</b> - иногда спрашивают). Обычно деньги доходят в тот же день, иногда прям сразу.
    </p>

    <p>
      После оплаты, в течние одного рабочего дня, я вышлю вам ваш заказ и скину на электронную почту номер почтового отправления,
      по которому вы через Интернет сможете отслеживать посылку.
    </p>

  </div>
</div>
