
<h1>
	Оформление заказа
</h1>
<p>
	Это ваш заказ. Если все верно, то заполните поля ФИО, адрес доставки и e-mail.
  Не ошибитесь при вводе e-mail, на этот почтовый ящик будет приходить вся информация по заказу!
</p>
<!--<div class="well">-->
<!-- <div class="nav-header cart-header">
		У вас в корзине:
	</div>
      -->
<div class="main-cart full-cart  {{cart.fullcartclass}}">
  <h2>
  	Товары в корзине
  </h2>
  <table class="table table-condensed cart-order table-bordered" style="font-size:12px"
  cellpadding="0">
  	<colgroup>
    <col id="c_0">
  		<col id="c_1">
  			<col id="c_2">
  				<col id="c_3">
  					<col id="c_4">
  	</colgroup>
  	<thead>
  		<tr>
        <th id="td_0">
        </th>
  			<th id="td_1">
  				Товар
  			</th>
  			<th id="td_2">
  				<span class="visible-phone">Кол.</span>
  				<span class="hidden-phone">Количество</span>
  			</th>
  			<th id="td_3">
  				Стоимость
  			</th>
  			<th id="td_4">
  			</th>
  		</tr>
  	</thead>
  	<tbody class="cart-body">
        {{#def_cart}}
        <tr class="ci-{{id}}">
        <td style="margin:0; padding:0">
          <a href="/catalog/{{id}}" class="thumbnail" target="_blank">
            <img height="28" width="42" src="{{img}}" style="margin:0; padding:0">
          </a>
        </td>
        <td class="name"><a href="/catalog/{{id}}" target="_blank">{{name}}</a></td>
        <!--<td>  {{count}} </td>-->
        <td class="input-inside count">
          <input type="Number" value="{{count}}" min="1" max="{{max_count}}" class="input-wide count-input" style="width: 100%">
        </td>
        <td class="cost"> {{cost}} {{setting.currencyName}}</td>
        <td><a class=close href="#">&times;</a></td>
        </tr>
        {{/def_cart}}
      <tr class="cart-delivery"><td></td><td>Доставка Почтой РФ</td><td></td><td> {{setting.deliveryPrice}} {{setting.currencyName}}</td><td></td></tr>
  	</tbody>
  </table>

  <div class="cart-total-text" style="text-align: center1;">
  	Общая сумма
  	<span class="cart-total-number">{{cart.total}}</span>
  	{{setting.currencyName}}
  </div>
</div>
<div class="empty-cart {{cart.emptycartclass}}">
  <h2>Корзина пуста</h2>
  <p><span class="label label-important">Что-то не то!</span> В вашей корзине отсутствуют товары. </p>
  <p>Вернитесь в каталог и наполните корзину.</p>
</div>
<!--</div>-->
<h2>
	Кому и куда отправить
</h2>
<form id=orderForm method="post" action="/order" name="shopOrderForm" class="form-horizontal">

			<div id=name class="control-group">
        <label class="control-label" for="name">ФИО получателя: <em>*</em></label>
			  <div class="controls">
					<input name="name" type="text" value="{{delivery.name}}" placeholder="Иванов Иван Иванович" required maxlength="100">
          <p class="help-block"></p>
				</div>
			</div>

      <div id=addsess class="control-group">
        <label class="control-label" for="address">Адрес: <em>*</em></label>
				<div class="controls">
					<textarea rows="3" cols="" name="address" placeholder="Московская область, Москва, ул. Шаболовка, д.37, кв. 45" required  maxlength="200">{{delivery.address}}</textarea>
          <p class="help-block"></p>
				</div>
			</div>

      <div id=zip class="control-group">
        <label class="control-label" for="zip">Почтовый индекс: <em>*</em></label>
				<div class="controls">
					<input name="zip" type="text" value="{{delivery.zip}}" placeholder="115162" required pattern="[0-9]{6}" title="Почтовый индекс - 6 цифр"
            data-validation-pattern-message= "Почтовый индекс - 6 цифр!"
          >
          <p class="help-block"></p>
				</div>
			</div>

      <div id=baracuda class="control-group">
        <label class="control-label" for="baracuda"></label>
	      <div class="controls">
          <input name="baracuda" type="text" value="">
          <p class="help-block"></p>
				</div>
			</div>

      <div id=email class="control-group">
        <label class="control-label" for="email">E-mail: <em>*</em></label>
				<div class="controls">
					<input
            name="e-mail"
            type="email"
            value="{{delivery.email}}"
            placeholder="ivanov@mail.ru"
            required
            data-validation-email-message= "Введите корректный e-mail адресс!"
          >
          <p class="help-block"></p>
				</div>
			</div>

      <div id=message class="control-group">
        <label class="control-label" for="message">Примечание</label>
				<div class="controls">
					<textarea name="message">{{delivery.message}}</textarea>
				</div>
			</div>

    	<div style="position: absolute; top: -100000px">
				<input name="address1" class="address1" type=text>

				<label>town	<input name="city" class="city" type=text> </label>

				<input name="province" class="province" type=text>
			</div>


  <h2>
  	Способ оплаты
  </h2>
  <div class="select-pay">
  	<label  class="radio">
  		<input type="radio" name="payment" value="sb">
  		Через Сбербанк
  	</label>
  	<label  class="radio">
  		<input type="radio" name="payment" value="gate" checked>
  		Через платежный шлюз PaySto (Visa, Mastercard, терминалы оплаты, с телефона и т.д.)
  	</label>
  </div>
  <br>
  <button type="submit" class="btn btn-success">
  	Сформировать заказ
  </button>
</form>
<h3>
	В чем же разница?
</h3>
<div class="media">
  <a class="pull-left" href="/about/">
          <img class="media-object  img-polaroid" data-src="holder.js/64x64" alt="64x64" style="width: auto; height: auto;" src="/img/avatar.jpg">
      </a>
	<div class="media-body">
		<!-- <h4 class="media-heading">
	Медиа-заголовок
</h4>
          -->
<p>
  Если у вас есть банковская карточка Visa, Mastercart, электронные деньги и т.д, то удобней проводить оплату,
	выбрав «Через платежный шлюз PaySto». У вас сразу откроется страничка платежной системы «PaySto».
  Это одна из крупнейших в России система приема электронных платежей. Тут вы введете необходимые данные и произведете оплату.
  Практически мгновенно я увижу вашу оплату и сразу займусь заказом.
</p>
<p>
	Выбрав "Через Сбербанк", вам нужно будет дойти до близжайшего отделения Сбербанка и перевести мне деньги.
  Довольно простая операция, вам понадобится только номер моей карты. Кстати, если у вас подключен "Сбербанк Онл@йн" вы можете провести оплату через банк-клиент - это еще быстрее.
</p>
<p>
  Мне конечно удобнее через Сбербанк - быстрее деньги попадают на карточку, но вам решать как вам удобнее.
</p>
	</div>
</div>

<form id="paysto" name="pay" id="paysto" method="post" action="https://paysto.com/ru/pay">

    <input type=hidden name="PAYSTO_SHOP_ID" value="">
    <input type=hidden name="PAYSTO_SUM" value="">
    <input type=hidden name="PAYSTO_INVOICE_ID" value="">
    <input type=hidden name="PAYSTO_DESC" value="">
    <input type=hidden name="PayerEMail" value="">

</form>

