{{#category.description}}
<h1>{{category.name}}</h1>
<div class="category-description">
  {{{category.description}}}
</div>
<hr>
{{/category.description}}

{{#products}}
<div id="it-{{id}}">
  <h3>
		{{name}}
	</h3>
	<a href="/catalog/{{_id}}"><img id="im-{{id}}" src="{{main_image_normal}}"></a>
	<br>
	<br>
	<div>
		<span>Цена: <b>{{price}}</b> руб.
      <span>
        <a class="btn" href="/catalog/{{_id}}">Подробнее »</a>
        <a class="btn btn-primary into-cart" data-id="{{id}}">В корзину</a>
      </span>
		</span>
	</div>
</div>
<hr>
{{/products}}

<!--<h3>Products</h3>-->