{{#product}}
<div  id="it-{{id}}" itemscope itemtype="http://data-vocabulary.org/Product">
	<h2>
		<span itemprop="name">{{name}}</span>
    {{#disabled}} <span class="label label-important">Не продается!</span>{{/disabled}}
    {{#isNew}} <span class="label label-warning" title="Товар в магазине меньше одной недели">Новинка!</span>{{/isNew}}
	</h2>
	<img id="im-{{id}}" src="{{main_image_normal}}" alt="Фото: {{name}}" title="Фото: {{name}}" itemprop="image">

  <div class="share42init" data-path="/img/" data-image="{{main_image_normal}}" data-description="Отличная чайная штука с сайта http://teapots.su"></div>

	<div>
		<!--<h5>-->
		<!--	Описание-->
		<!--</h5>-->
    <!--<br>-->

		<div class="media">
			<a class="pull-left" href="/about/" rel="author">
          <img alt="Обо мне" class="media-object  img-polaroid" style="width: auto; height: auto;" src="https://lh4.googleusercontent.com/-vQwKop2iKuw/UffkQ2-lqRI/AAAAAAAACQI/NOv-q2OEkug/s800/179793_503370669741311_603455872_n%2520%252864x64%2529.jpg">
      </a>
			<div class="media-body" itemprop="description">
        {{{description}}}
			</div>
		</div>
		<p>
		</p>
		<div itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
			<span>Цена: <b itemprop="price">{{price}}</b> руб.
        <span>
          <a class="btn btn-success into-cart" data-id="{{id}}" {{#disabled}}disabled{{/disabled}}>В корзину</a>
        </span>
			</span>
      <meta itemprop="currency" content="RUB" />
      {{#disabled}}<meta itemprop="availability" content="out_of_stock">{{/disabled}}
      {{^disabled}}<meta itemprop="availability" content="in_stock">{{/disabled}}
    </div>

    <!--<span itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">-->
    <!--  <meta itemprop="rating" content="5">-->
    <!--</span>-->
    {{^product_img_empty}}
		<!--<h5>-->
		<!--	Еще фото:-->
		<!--</h5>-->

    <br>

    {{/product_img_empty}}
    {{#images}}
		<img src="{{url_normal}}" alt="Фото: {{name}}" title="Фото: {{name}}">
    <br/><br/>
		{{/images}}
    {{^product_ref_empty}}

  <!--  <h5>-->
		<!--	Что почитать:-->
		<!--</h5>-->
    <br>

    {{/product_ref_empty}}
		<ul>
      {{#refs}}
			<li>
				<a href="{{url}}" target="_blank">{{name}}</a>
			</li>
      {{/refs}}
		</ul>
	</div>
</div>
{{/product}}