{{#product}}
<div  id="it-{{id}}">
	<h2>
		{{name}}
    {{#disabled}} <span class="label label-important">Не продается!</span>{{/disabled}}
    {{#isNew}} <span class="label label-warning" title="Товар в магазине меньше одной недели">Новинка!</span>{{/isNew}}
	</h2>
	<img id="im-{{id}}" src="{{main_image_normal}}" alt="{{name}}">

  <div class="share42init" data-path="/img/" data-image="{{main_image_normal}}" data-description="Отличная чайная штука с сайта http://teapots.su"></div>

	<div>
		<!--<h5>-->
		<!--	Описание-->
		<!--</h5>-->
    <!--<br>-->

		<div class="media">
			<a class="pull-left" href="/about/">
              <img class="media-object  img-polaroid" data-src="holder.js/64x64" alt="Заяц Анастасия" style="width: auto; height: auto;" src="/img/avatar.jpg">
          </a>
			<div class="media-body">
        {{{description}}}
			</div>
		</div>
		<p>
		</p>
		<div>
			<span>Цена: <b>{{price}}</b> руб.<span>
      <a class="btn btn-success into-cart" data-id="{{id}}" {{#disabled}}disabled{{/disabled}}>В корзину</a>
    </span>
			</span>
		</div>
    {{^product_img_empty}}
		<!--<h5>-->
		<!--	Еще фото:-->
		<!--</h5>-->

    <br>

    {{/product_img_empty}}
    {{#images}}
		<img src="{{url_normal}}" alt="{{name}} (дополнительно)">
    <br/><br/>
		{{/images}}
    {{^product_ref_empty}}

  <!--  <h5>-->
		<!--	Что почитать:-->
		<!--</h5>-->
    <br>

    {{/product_ref_empty}}
		<ul>
      {{#refs}}
			<li>
				<a href="{{url}}" target="_blank">{{name}}</a>
			</li>
      {{/refs}}
		</ul>
	</div>
</div>
{{/product}}