<h2>Привет, Настя!</h2>

<p>В интернет-магазине <a href="http://teapots.su" target="_blank"><b>"TeaPots"</b></a> сформирован заказ <a href="http://teapots.su/admin/order/{{_id}}/edit"> №<b>{{_id}}</b></a>:</p>
<ol>
{{#items}}
<li><a href="http://teapots.su/catalog/{{id}}" target="_blank">{{name}}</a> - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб. Платить будут через <b>PaySto</b>.
То-есть либо сразу переведут деньги, либо выберут оплату через терминалы и это будет подольше.</p>

<h3>Кто купил:</h3>
<p>ФИО: {{buyer.name}}</p>
<p>Адрес: {{buyer.address}}</p>
<p><b>e-mail</b>: <a href="mailto:{{buyer.email}}">{{buyer.email}}</a></p>
<br />
<p><b>Примечание:</b>{{comment_buyer}}</p>

<p><b>P.S.</b></p>
<p>Жди оплаты и отсылай. Удачи!</p>
