<h2>Здравствуйте, {{buyer.name}}!</h2>

<p>По данному адресу электронной почты в интернет-магазине <b>"TeaPot"</b> сформирован заказ №<b>{{_id}}</b>:</p>
<ol>
{{#items}}
<li>{{name}} - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб.</p>

<h3>Оплата через платежный шлюз PaySto</h3>
<p>Вы выбрали сопсоб оплаты: через платежный шлюз PaySto, который позволяет производить оплату пластиковыми картами, через
платежные автоматы, с баланса сотового телефона и различными видами электронных денег.</p>

<p>Как только я получу деньги, в течение одного рабочего дня, я соберу, вышлю вам посылку и пришлю на данный почтовый ящик
индивидуальный номер посылки, по которому вы сможете отслеживать местонахождение посылки через Интернет.</p>

<p><b>P.S.</b></p>
<p>Если вы не делали этой покупки, пожалуйста в ответном письме обозначте это, в противном случае отвечать не нужно, письмо создано
автоматически в момент создания заказа (до его оплаты).</p>

<br>
<p>С уважением, Анастасия Заяц<p>