<h2>Привет, Насть!</h2>

<p>Платежная система <b>PaySto</b> подтвердила оплату заказа №<a href="http://teapots.su/admin/order/{{_id}}" target="_blank">{{_id}}</a>.<p>

<ol>
{{#items}}
<li>{{name}} - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб.

<h3>Кто купил и оплатил:</h3>
<p>ФИО: {{buyer.name}}</p>
<p>Адрес: {{buyer.address}}</p>
<p>e-mail: {{buyer.email}}</p>

<br>
<p>С уважением, интернет-магазин TeaPots<p>

<p><b>P.S.</b></p>
<p>Не забудь после отправки изменить статус заказа в админке. Удачи!</p>