<h2>Здравствуйте, {{buyer.name}}!</h2>

<p>Платежная система <b>PaySto</b> сообщила об ошибке в процессе оплаты заказа №{{_id}} в интернет-магазнине <b>TeaPot</b><p>
<p>Заказ автоматически отменен, но ваша корзина в целости и сохранности, и ваши почтовые данные никуда не исчезли.
Повторите создание заказа и оплату. Возможно лучше выбрать другой способ оплаты.</p>

<p>Можете так же связаться со мной по телефону +7 (905) 62-789-64. Оформим заказ по телефону - это не сложно!</p>

<br>
<p>С уважением, Анастасия Заяц<p>