<h2>Привет, Насть!</h2>

<p>Платежная система <b>PaySto</b> сообщила об ошибке в процессе оплаты заказа <a href="http://teapots.su/admin/order/{{_id}}/edit"> №<b>{{_id}}</b></a> в интернет-магазнине <b>TeaPots</b><p>
<p>Заказ автоматически отменен, но корзина покупателя в целости и сохранности, и почтовые данные тоже никуда не исчезли.</p>

<p>Ему пришло письмо с советом попробовать оплатить еще раз, либо, если хочет, пусть позвонит тебе на сотовый,
чтобы оформить заказ по телефону</p>

<br>
<p>С уважением, интернет-магазин <a href="http://teapots.su" target="_blank"><b>"TeaPots"</b></a><p>