<h2>Привет, Настя!</h2>

<p>В интернет-магазине <b>"TeaPot"</b> сформирован заказ №<b>{{_id}}</b>:</p>
<ol>
{{#items}}
<li>{{name}} - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб. Платить будут через <b>PaySto</b>.
То-есть либо сразу переведут деньги, либо выберут оплату через терминалы и это будет подольше.</p>

<h3>Кто купил:</h3>
<p>ФИО: {{buyer.name}}</p>
<p>Адрес: {{buyer.address}}</p>
<p>e-mail: {{buyer.email}}</p>

<p><b>P.S.</b></p>
<p>Жди оплаты и отсылай. Удачи!</p>
