<h2>Здравствуйте, {{buyer.name}}!</h2>

<p>По данному адресу электронной почты в интернет-магазине <a href="http://teapots.su"><b>"TeaPots"</b></a> сформирован заказ №<b>{{_id}}</b>:</p>
<ol>
{{#items}}
<li>{{name}} - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб.</p>

<h3>Как оплатить</h3>
<p>Вам нужно пойти в близжайшее отделение Сбербанка, там спросить в каком окошке можно положить деньги на сбербанковскую карточку Visa.
Все, что вам нужно будет, это деньги и данные карты, больше ничего не потребуется. Номер моей карты: <b>4276 6600 1312 3120</b> (годна до 01/2016 - иногда спрашивают).
Обычно деньги доходят в тот же день, иногда прям сразу.</p>

<p>На всякий случай, мой телефон: <b>+7 (905) 62 789 64</b> - без поддержки не останетесь!</p>

<p>Если у вас у самих есть сбербанковская карта Visa и подключена услуга "Сбербанк Онл@йн", вы можете перевести деньги со своей карточки на мою прямо в банк-клиенте
  через Интернет. Это еще проще.
</p>
<p>Как только я получу деньги, в течение одного рабочего дня, я соберу, вышлю вам посылку и пришлю на данный почтовый ящик
индивидуальный номер посылки, по которому вы сможете отслеживать её местоположение через Интернет.</p>

<p><b>P.S.</b></p>
<p>Если вы не делали этой покупки, пожалуйста в ответном письме напишите это, в противном случае отвечать не нужно, письм создано автоматически.</p>

<br>
<p>С уважением, Анастасия Заяц<p>