<h2>Привет, Настя!</h2>

<p>В интернет-магазине <a href="http://teapots.su"><b>"TeaPots"</b></a> сформирован заказ <a href="http://teapots.su/admin/order/{{_id}}/edit"> №<b>{{_id}}</b></a>:</p>
<ol>
{{#items}}
<li><a href="http://teapots.su/catalog/{{id}}" target="_blank">{{name}}</a> - {{count}} шт.- {{cost}} руб.</li>
{{/items}}
</ol>
<p>Полная стоимость заказа с доставкой: <b>{{cost}}</b> руб.</p>
<p>Платить будут на твою <b>сбербанковскую карточку</b>.</p>

<h3>Кто купил:</h3>
<p><b>ФИО</b>: {{buyer.name}}</p>
<p><b>Адрес</b>: {{buyer.address}}</p>
<p><b>e-mail</b>: {{buyer.email}}</p>

<p><b>P.S.</b></p>
<p>Жди оплаты и отсылай. Удачи!</p>
