<div class="span3 bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav aff1ix">
		<li class="{{sidebar.orderclass}}">
			<a href="/admin/order"><i class="icon-chevron-right"></i> Заказы</a>
		</li>
		<li class="{{sidebar.productclass}}">
			<a href="/admin/product"><i class="icon-chevron-right"></i> Товары</a>
		</li>
		<li class="{{sidebar.categoryclass}}">
			<a href="/admin/category"><i class="icon-chevron-right"></i> Категории</a>
		</li>
		<li class="{{sidebar.newsclass}}">
			<a href="/admin/news"><i class="icon-chevron-right"></i> Новости</a>
		</li>                
		<li class="{{sidebar.pageclass}}">
			<a href="/admin/page"><i class="icon-chevron-right"></i> Страницы</a>
		</li>
    <li class="{{sidebar.settingclass}}">
			<a href="/admin/setting"><i class="icon-chevron-right"></i> Настройки</a>
		</li>
    
  <!--  <li class="{{sidebar.serviceclass}}">-->
		<!--	<a href="/admin/service"><i class="icon-chevron-right"></i> Сервис</a>-->
		<!--</li>-->
	</ul>
</div>
