<!--<div class="catalog" style="padding-top: 0px; margin-top: -10px">-->
<div class="bs-catalog">
  <!--<h4>-->
  <!--	Каталог-->
  <!--</h4>-->
  <div class="" >
  	<ul class="nav nav-list bs-docs-sidenav">
  		<!--<li class="nav-header">Каталог</li>-->
      {{#navbar}}
  		<li{{#active}} class="active"{{/active}}>

  			<a href="/catalog/{{url}}/" style="font-size1: 15px">
    		<i class="icon-chevron-right"></i>
  			{{name}}</a>
  		</li>
      {{/navbar}}
  	</ul>
  </div>
  <!--/.well -->
</div><!--catalog-->