<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <meta name="author" content="Заяц Анастасия Владимировна">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--<link href="/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="/css/app.css" rel="stylesheet">
    {{#css}}
    <link href="/css/{{.}}" rel="stylesheet">
    {{/css}}

    <link rel="shortcut icon" href="/ico/favicon.ico">
  </head>
  <body>
    <div class="container">
    {{#success}}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Успех! </strong>{{.}}
    </div>
    {{/success}}

    {{#info}}
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Информация! </strong>{{.}}
    </div>
    {{/info}}

    {{#warning}}
    <div class="alert alert-block">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Внимание! </strong>{{.}}
    </div>
    {{/warning}}
     <!-- <div class="top-line">-->
    	<!--<span>-->
     <!--         <i class="icon-phone-sign"></i>-->
  		 <!--   <a href="tel:+79056278964">+7 (905) 62-789-64</a>-->
     <!--     </span>-->
  	  <!--</div>-->

      {{>navbar}}

    	<div class="row">
    		<div class="span3">
        {{>catalog}}
        {{>cart}}
        <br>
        <div class="payments-methods">

          <img src='/img/paysto.png'>
          <img src='/img/visa.png'>
          <img src='/img/mastercard.png'>
          <img src='/img/sberbank.png'>
          <img src='/img/yandex.png'>
        <!-- begin WebMoney Transfer : accept label -->
          <a href="http://www.megastock.ru/" target="_blank"><img src="/img/webmoney_2.png" alt="www.megastock.ru" border="0"></a>

        </div>
        <!-- end WebMoney Transfer : accept label -->
    		</div>
    		<!--/span-->
    		<div class="span9">
    			{{>breadcrumb}}
          <div class="content">
    			{{{ yield }}}
          </div>
    		</div>
    		<!--/span-->
    	</div>
    	<!--/row-->
    	<hr>
    	<footer>
    		<p style="text-align: center;">
    			<!-- begin paysto verification --><a href="http://paysto.ru/fromshop=21008" target="_blank">Совместно с PAYSTO</a><!-- end paysto verification -->
    		</p>
    	</footer>
    </div>
    <!--/.container-->




    <script>
      var app = app || {};
      app.def_cart      = {{{def_cart_JSON}}};
      app.deliveryPrice = {{setting.deliveryPrice}};
      app.currencyName = '{{setting.currencyName}}';
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/hogan.min.js"></script>

    <script src="/js/app.js"></script>
    {{#scripts}}
    <script src="/js/{{.}}"></script>
    {{/scripts}}

    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21700723 = new Ya.Metrika({id:21700723, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21700723" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41571947-1', 'teapots.su');
      ga('send', 'pageview');

    </script>


  </body>
</html>
