<footer>
  <div class = "row">
    <div class="span2 footer-ref">
    <a href="/catalog/">Каталог</a>
    </div> <!---span2---->
    <div class="span2 footer-ref">
    <a href="/delivery/">Доставка</a>
    </div> <!---span2---->
    <div class="span2 footer-ref">
    <a href="/payments/">Оплата</a>
    </div> <!---span2---->
    <div class="span2 footer-ref">
    <a href="/about/">О нас</a>
    </div> <!---span2---->
    <div class="span2 footer-ref">
    <!--<a href="/archive/">Архив</a>-->
    </div> <!---span2---->
    <div class="span2 footer-ref">
    © 2013 · <b>Teapots</b>
    </div> <!---span2---->
  </div>

  <!--<br />-->

	<p style="text-align: center; opacity: 0.5; margin-top: 12px;">
		<!-- begin paysto verification -->
    <a rel="nofollow" href="http://paysto.ru/fromshop=21008" target="_blank">Совместно с PAYSTO</a>
    <!-- end paysto verification -->
	</p>
</footer>
